services:
  # 1. The Laravel Backend (Docker Version)
  - type: web
    name: beyondchats-backend
    env: docker
    rootDir: backend
    dockerfilePath: backend/Dockerfile
    envVars:
      - key: APP_KEY
        sync: false
      - key: APP_DEBUG
        value: true
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: DB_DATABASE
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
